@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  scroll-behavior: smooth;
  color: var(--textColor);
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}
:root{
  font-size: var(--fontSize);
  --fontSize:10px;
  --backgroundColor:#fff;
  --primaryColor:#000;
  --textColor:rgba(100, 100, 100, 1);
  --impText:#000;
}
.portfolio{
  display: none;
  width: 100%;
}
img{
  filter: grayscale(100%);
  }
.highlightedText{
  font-weight: 600;
}
body{
  background-color: var(--backgroundColor);
  overflow-x: hidden;
}
header,section,footer{
  padding:0 7.5%;
  width: 100%;
}
section,footer{
margin-top: 50px;
overflow: hidden !important;
}
/* header */
header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
  position: sticky;
  top: 0;
  z-index: 15 !important;
  background-color: var(--backgroundColor);
  box-shadow: 1px 0px 1px 1px var(--textColor);
  -webkit-box-shadow: 1px 0px 1px 1px var(--textColor);
  -moz-box-shadow: 1px 0px 1px 1px var(--textColor);
}
.navLinks ul{
  display: flex;
  gap: 35px;
}
.navLinks ul li a{
  color: var(--impText);
  font-size: 2.5rem;
  position: relative;
  cursor: pointer;
  font-weight: 500;
  }
  .navLinks a::before{
    content: "";
    position: absolute;
    bottom: -2.5px;
    height: 2.5px;
    border-radius: 50px;
    width: 0;
    background: var(--primaryColor);
    }
    .navLinks a:hover::before{
      animation: underline 0.5s linear;
}
#menuBtn{
  display: none;
  background-color: transparent;
  animation: scaling 3s infinite;
  font-size: 3.3rem;
  color: var(--impText);
}
@keyframes scaling {
  from{
    transform: scale(1);
  }
  to{
    transform: scale(1.5);
  }
}
@media screen and (max-width:1200px) {
  .navLinks{
    padding: auto;
    display: flex;
    background-color: var(--backgroundColor);
    position: absolute;
    top: 150px;
    width: 80%;
    border: 1px solid var(--impText);
    height: 75vh;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: none;
  }
  #menuBtn{
    display: block;
      cursor: pointer;
    }
    .navLinks ul{
      flex-direction: column;
    }
    .navLinks ul li a{
      color: var(--impText);
      font-size: 3.3rem;
      border-left: none;
    }
    .menu_active{
      display: flex;
    }
  }

/* hero section */
.hero{
display: grid;
grid-template-columns: 60% 40%;
height: 90vh;
}
.hero .heroText{
  display: flex;
  flex-direction: column;
  padding-top: 100px;
}
.greet{
  font-size: 2.5rem;
}
.greet img{
  height: 10rem;
  filter: invert(40%);
}
.typewriter {
  font-size: 3.3rem;
  height: auto;
  min-height: 100px;
  margin-bottom: 10px;
  color: var(--impText);
}
.mySocials ul li{
  display: flex;
  gap: 25px;
}
.mySocials ul li a i{
  font-size: 5rem;
  border-radius: 50px;
  margin: 10px 0;
  padding: 10px;
  color: var(--impText);
}
.mySocials ul li a i:hover{
  background: var(--primaryColor);
  color: var(--backgroundColor);
}
.heroImg{
  background-image: url(./images/model.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  filter: grayscale(100%);
}
@media screen and (max-width:1200px){
  .hero{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
  height: auto;
}
.heroImg{
  height: 500px;
  width: 100%;
}
}


/* about section */
.about{
  display: grid;
  grid-template-columns: 40% 50%;
  padding-bottom: 50px;
  height: auto;
  justify-content: space-between;
  align-items: center;
}
.about .headingText{
  color: var(--primaryColor);
  font-size: 3.3rem;
}
.about-Box1{
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 25%;
  overflow: hidden;
}
.about-Box1 img{
  height: 100%;
  width: 100%;
}
.about-Box2{
  display: flex;
  flex-direction: column;
}
.headingText{
  font-size: 5rem;
  color: var(--impText);
}
.transparentText{
  font-size: 4rem;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 1px;
  color: var(--textColor);
}
.primaryColor{
  color: var(--primaryColor);
  font-size: 4rem;
}
.explanation{ 
  font-size: 2rem;
  text-align: justify;
  margin-top: 25px;
  text-align-last: left;
}
@media screen and (max-width:1200px) {
  .about{
   grid-template-columns: 1fr;
  }
  .about-Box2{
    width: 100% !important;
  }
  .about-Box1 legend{
    text-align: center;
  }
  .about-Box1{
    display: none;
  }
}
/* testimonials section */
.testimonials{
  margin: 100px 0 100px 0;
}
.testimonialsTitle{
  font-size: 3.3rem;
  color: var(--primaryColor);
}
.clientTestimonials{
  margin-top: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  padding-bottom: 50px;
  padding-left: 25px;

}
.clientTestimonial{
  display: flex;
  width: 500px;
  box-shadow: 2.5px 2.5px 2.5px 1px rgba(100, 100, 100, 1);
  border-radius:25px;
}
.clientImg{
  padding: 25px;
  position: relative;
  margin-left: -50px;
}
.clientImg img{
  height: 197px;
  width: 120px;
  border-radius:25px;
  background-color: var(--primaryColor);
}
.clientTestimonialComment{
  display: flex;
  flex-direction: column;
}
.quote i{
  font-size: 5rem;
  color: #000;
}
.comment , .client{
  padding: 10px;
}
.comment{
  font-size: 1.5rem;
  text-align: justify;
}
.clientName{
  font-size: 2rem;
  color: var(--primaryColor);
}
.clientPost{
  font-size: 1.5rem;
}

@media screen and (max-width:1200px) {  
  .testimonials .headingText .primaryColor{
    font-size: 4rem;
  }
  .testimonials .headingText{
    font-size: 4rem;
  }
  .testimonials .headingText .transparentText{
    font-size: 4rem;
  }
  .comment, .clientPost{
    font-size: 1.25rem;
  }
  .clientName{
    font-size: 1.5rem;
  }
  .clientTestimonial{
    width: 300px;
  }
}
@media screen and (max-width:800px) {
  .clientTestimonials{
    flex-direction: column;
  }
}
/* mySkills section */
.mySkills{
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.mySkillsTitle p{
  font-size: 3.3rem;
  color: var(--primaryColor);
}
.skills ul{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.mySkills ul li{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  color: var(--impText);
}
.skills ul li i{
  font-size: 10rem;
  color: var(--impText);
}
/* projects section */
.projects{
display: flex;
flex-direction: column;
}
.projectsTitle p{
  font-size: 3.3rem;
  color: var(--primaryColor);
  }
  .allProjects{
    display: grid;
    grid-template-columns: 1fr  1fr;
    gap: 25px;
    align-content: center;
    justify-content: center;
    margin-top: 25px;
    padding-bottom: 10px;
  }
  .project{
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: center;
    justify-content: space-between;
    border-radius: 25px;
    border: 2.5px solid var(--impText);
    box-shadow: -2.5px -2.5px 5px var(--textColor),
    2.5px 2.5px 5px var(--textColor);
    overflow: hidden;
    height: 100px;
  }
  .projectName{
    padding: 0 10px;
    font-size: 2.5rem;
    color: var(--impText);
  }
  .project .projectLink {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    outline: none;
    border-left: 1px solid var(--impText);
  }
  .project .projectLink a{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    height: 100px;
    background-color: var(--backgroundColor);
    padding: 20px;
    width: 100%;
    cursor: pointer;
    border: none;
    font-size: 2.5rem;
    color: var(--impText);
  }
  .project .projectLink a i{
    color: var(--impText);
    font-size: 2.5rem;
  }
.project .projectLink a:hover{
  filter: invert(100%);
}
@keyframes underline {
  from{
    width: 0;
  }
  to{
    width: 100%;
  }
}
@media screen and (max-width: 1200px) {
 .allProjects{
  grid-template-columns: 1fr;
 }
}
/* footer section */
footer{
  margin-top: 50px;
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 50px 0 0 0;
  margin-bottom: 50px;
  border-top: 10px solid var(--primaryColor);
  border-top-left-radius: 150%;
  border-top-right-radius: 150%;
}
footer::before{
  position: absolute;
  content: "";
  top: 0;
  left: auto;
  right: auto;
  width: 65%;
  height: 50%;
  border: none;
  border-bottom-left-radius:150%;
  border-bottom-right-radius: 150%;
  border-bottom: 10px solid var(--primaryColor);
  z-index: -1;
}
footer ul{
  margin: 50px 0 50px 0;
  border: none;
  border-bottom-left-radius:150%;
  border-bottom-right-radius: 150%;
  border-bottom: 10px solid var(--primaryColor);
}
footer ul li{
  display: flex;
  gap: 25px;
}
footer ul li a i{
  z-index: 10;
  font-size: 5rem;
  border-radius: 50px;
  margin: 10px 0;
  padding: 10px;
  color: var(--impText);
}
footer ul li a i:hover{
  background: var(--backgroundColor);
  color: #fff;
}
.copyright{
  font-size: 1.5rem;
  text-align: center;
}

/* darkmode */
.darkMode{
  --backgroundColor:#000;
  --impText:#fff;
  --primaryColor: #fff;
  --textColor: rgba(100, 100, 100, 1);
}
#darkModeBtn{
  background-color: transparent;
  border: none;
  font-size: 3.3rem;
  cursor: pointer;
  color: var(--impText);
}
@media screen and (max-width:600px){
  :root{
    --fontSize: 7.5px;
  }
}

/* preLoader animation */
.preLoaderContainer{
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  top: 0;
  background-color: var(--backgroundColor);
  z-index: 100;
}
.lds-facebook {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-facebook div {
  display: inline-block;
  position: absolute;
  left: 8px;
  width: 16px;
  background: var(--primaryColor);
  animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}
.lds-facebook div:nth-child(1) {
  left: 8px;
  animation-delay: -0.24s;
}
.lds-facebook div:nth-child(2) {
  left: 32px;
  animation-delay: -0.12s;
}
.lds-facebook div:nth-child(3) {
  left: 56px;
  animation-delay: 0;
}
@keyframes lds-facebook {
  0% {
    top: 8px;
    height: 64px;
  }
  50%, 100% {
    top: 24px;
    height: 32px;
  }
}
